@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Arun's test app</h1>
    <p>Learn about <a href="https://arunthangaraj.com">building developer experiences</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
